<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Project.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <div class="navbar">
		<div class="logo">
			<a href="index.html"><img src="./media/logo.png" alt="Logo"></a>
			<a href="about.html">About</a>
			<a href="contact.html">Contact</a>
		</div>

		<div class="search-bar">
			<div class="search-field">
				<span>Destination</span>
				<input list="destinations" name="destination" id="destination" placeholder="Select a region">
				<datalist id="destinations">
				
				</datalist>
			</div>
			<div class="search-field">
				<span>Check-in</span>
				<input type="date" placeholder="Add date">
			</div>
			<div class="search-field">
				<span>Check-out</span>
				<input type="date" placeholder="Add date">
			</div>
			<div class="search-field">
				<span>Guests</span>
				<input type="number" placeholder="Add guests" min="1">
			</div>
			<button class="search-button"></button>
		</div>
		<div class="profil">
			<a href="profile.html">Profile</a>
		</div>
	</div>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>