@model dynamic

<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/about.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Kişisel Bilgiler</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered mt-4">
                <thead class="table-light">
                    <tr>
                        <th>Bilgi</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kullanıcı adı</td>
                        <td>@Context.Session.GetString("Username") </td>
                    </tr>
                    <tr>
                        <td>E-posta adresiniz</td>
                        <td>@Context.Session.GetString("UserEmail")</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
