* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    .navbar a {
        text-decoration: none;
        color: #333;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 500;
        transition: color 0.3s ease;
    }

        .navbar a:hover {
            color: #309657;
        }


.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.search-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

    .search-field span {
        font-size: 10px;
        color: #666;
    }

    .search-field input {
        border: none;
        background-color: #f8f8f8;
        font-size: 12px;
        text-align: center;
        width: 100px;
    }

.search-button {
    background-color: #309657;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

/*
.profil a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

    .profil a:hover {
        color: #309657;
    }
.navbar .dropdown-toggle {
    display: flex;
    align-items: center;
}

.navbar .dropdown-menu {
    min-width: 200px;
}

.navbar .dropdown-item {
    padding: 10px 20px;
}

    .navbar .dropdown-item:hover {
        background-color: #f8f9fa;
        color: #007bff;
    }*/





