@page
@{
    ViewData["Title"] = "Rezervasyon Başarılı!";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="container mt-5 text-center">
    <h2>Rezervasyonunuz Başarıyla Alındı!</h2>
    <p>Ödemeniz başarıyla tamamlandı. En kısa sürede sizinle iletişime geçeceğiz.</p>
    <a href="/" class="btn btn-success">Ana Sayfaya Dön</a>
</div>
