@page
@model Web_Project.Pages.IndexModel
@{
    ViewData["Title"] = "Başarılı Kayıt";
}

<div class="container mt-5">
    <h2>Kayıt Başarılı!</h2>
    <p>Hesabınız başarıyla oluşturuldu.</p>
    <a href="/" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>