@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="house1.jpg" class="card-img-top" alt="İstanbul Manzaralı Ev">
            <div class="card-body">
                <h5 class="card-title">İstanbul, Türkiye</h5>
                <p class="card-text">Deniz manzaraları - 13-18 Ocak</p>
                <p class="card-text">5.764 ₺ / gece</p>
                <a href="/houses/house1" class="btn btn-primary">Detayları Gör</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="house2.jpg" class="card-img-top" alt="Adalar Ev">
            <div class="card-body">
                <h5 class="card-title">Adalar, Türkiye</h5>
                <p class="card-text">22 km uzakta - 15-20 Aralık</p>
                <p class="card-text">5.077 ₺ / gece</p>
                <a href="/houses/house2" class="btn btn-primary">Detayları Gör</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="house3.jpg" class="card-img-top" alt="Boğaz Manzaralı Ev">
            <div class="card-body">
                <h5 class="card-title">İstanbul, Türkiye</h5>
                <p class="card-text">Sahil ve dağ manzarası - 21-26 Aralık</p>
                <p class="card-text">4.586 ₺ / gece</p>
                <a href="/details/house3" class="btn btn-primary">Detayları Gör</a>
            </div>
        </div>
    </div>
</div>