@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="/css/home.css" />




<div class="posts">
    @foreach (var property in Model.Properties)
    {
        <div class="post">
            <div class="post-image">
                <!-- Resim URL'si dinamik -->
                <img src="~/media/houses/h_@property.propid/1.jpeg" alt="Property Image">
            </div>
            <div class="post-text">
                <h3 class="location">@property.location</h3>
                <div class="rating">★ @property.rating</div>
                <p class="date">30 Nov - 5 Dec</p>
                <p class="price">@property.pricenight ₺ night</p>
                <p class="views">Last week seen 279 times</p>
            </div>
        </div>
    }
	
</div>