@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="container mt-5">
    <h2>Gizlilik Politikası</h2>
    <p>
        Privacy Policy
        Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.

        Privacy Policy
        Privacy Policy
        Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you..
    </p>
</div>
          