@page
@{
    ViewData["Title"] = "Başarılı Kayıt";
}
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="container mt-5">
    <h2>Kayıt Başarılı!</h2>
    <p>Hesabınız başarıyla oluşturuldu.</p>
    <a href="/Home/login" class="btn btn-primary">Giriş yap</a>
</div>